/* standard.css */
{%
Dim responseColourPrimary =CurrentADC.PropValue("responseColourPrimary")
Dim fontColour =CurrentADC.PropValue("fontColour")
Dim responseShadow =CurrentADC.PropValue("responseShadow")
Dim responseSelectedColourPrimary =CurrentADC.PropValue("responseSelectedColourPrimary")
Dim responseSelectedFontColour =CurrentADC.PropValue("responseSelectedFontColour")
Dim responseSelectedShadow =CurrentADC.PropValue("responseSelectedShadow")

Dim borderColour =CurrentADC.PropValue("borderColour")
Dim borderThickness =CurrentADC.PropValue("borderThickness")
Dim borderStyle =CurrentADC.PropValue("borderStyle")
Dim responseSelectedBorderColour =CurrentADC.PropValue("responseSelectedBorderColour")
Dim responseSelectedBorderThickness =CurrentADC.PropValue("responseSelectedBorderThickness")
Dim responseSelectedBorderStyle =CurrentADC.PropValue("responseSelectedBorderStyle")
Dim borderRadius =CurrentADC.PropValue("borderRadius")

Dim responseTextAlign =CurrentADC.PropValue("responseTextAlign")
Dim responseImagePosition =CurrentADC.PropValue("responseImagePosition")
Dim responseContentPosition =CurrentADC.PropValue("responseContentPosition")
Dim displayResponseText =CurrentADC.PropValue("displayResponseText")

Dim responseHoverColourPrimary =CurrentADC.PropValue("responseHoverColourPrimary")
Dim responseHoverFontColour =CurrentADC.PropValue("responseHoverFontColour")
Dim responseHoverBorderColour =CurrentADC.PropValue("responseHoverBorderColour")
Dim responseHoverBorderThickness =CurrentADC.PropValue("responseHoverBorderThickness")
Dim responseHoverBorderStyle =CurrentADC.PropValue("responseHoverBorderStyle")
Dim responseHoverShadow =CurrentADC.PropValue("responseHoverShadow")

Dim responseTextPadding =CurrentADC.PropValue("responseTextPadding")
Dim responseTextLineHeight =CurrentADC.PropValue("responseTextLineHeight")

Dim nsResponseColourPrimary =CurrentADC.PropValue("nsResponseColourPrimary")
Dim nsfontColour =CurrentADC.PropValue("nsfontColour")
Dim nsResponseBorderColour =CurrentADC.PropValue("nsResponseBorderColour")
Dim nsResponseBorderThickness =CurrentADC.PropValue("nsResponseBorderThickness")
Dim nsResponseBorderStyle =CurrentADC.PropValue("nsResponseBorderStyle")
Dim nsResponseShadow =CurrentADC.PropValue("nsResponseShadow")
Dim nsResponseSelectedColourPrimary =CurrentADC.PropValue("nsResponseSelectedColourPrimary")
Dim nsResponseSelectedFontColour =CurrentADC.PropValue("nsResponseSelectedFontColour")
Dim nsResponseSelectedBorderColour =CurrentADC.PropValue("nsResponseSelectedBorderColour")
Dim nsResponseSelectedBorderThickness =CurrentADC.PropValue("nsResponseSelectedBorderThickness")
Dim nsResponseSelectedBorderStyle =CurrentADC.PropValue("nsResponseSelectedBorderStyle")
Dim nsResponseSelectedShadow =CurrentADC.PropValue("nsResponseSelectedShadow")

Dim showResponseHoverColour =CurrentADC.PropValue("showResponseHoverColour")
Dim showResponseHoverFontColour =CurrentADC.PropValue("showResponseHoverFontColour")
Dim showResponseHoverBorder =CurrentADC.PropValue("showResponseHoverBorder")

Dim controlAlign =CurrentADC.PropValue("controlAlign")

Dim rankMoveArrowColour =CurrentADC.PropValue("rankMoveArrowColour")

Dim fontSize =CurrentADC.PropValue("fontSize")

Dim otherColourPrimary =CurrentADC.PropValue("otherColourPrimary")
Dim otherFontColour =CurrentADC.PropValue("otherFontColour")
Dim otherBorderColour =CurrentADC.PropValue("otherBorderColour")
Dim otherBorderThickness =CurrentADC.PropValue("otherBorderThickness")
Dim otherBorderStyle =CurrentADC.PropValue("otherBorderStyle")
Dim otherShadow =CurrentADC.PropValue("otherShadow")
Dim otherBorderRadius =CurrentADC.PropValue("otherBorderRadius")
%}

/* General */
#adc_{%= CurrentADC.InstanceId%} {
	text-align:{%= controlAlign%};
}

/* Statements */
#adc_{%= CurrentADC.InstanceId%} .statement 
{   
	
	/* Decoration */
	{% IF CurrentADC.PropValue("borderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= borderThickness%} {%= borderStyle%} rgb({%= borderColour%});
	{% EndIF %}	
	
	background-color: rgb({%= responseColourPrimary%});

	
	/* Effects */
	-webkit-border-radius:	{%= borderRadius%}; 
	-moz-border-radius:		{%= borderRadius%}; 
	-khtml-border-radius:	{%= borderRadius%}; 
	border-radius:			{%= borderRadius%};
	
	-webkit-box-shadow: {%= responseShadow%};
	-moz-box-shadow: {%= responseShadow%};
	box-shadow: {%= responseShadow%};
	
	text-align: {%= responseContentPosition%};
}

#adc_{%= CurrentADC.InstanceId%} .statement:hover
{
	
	/* Decoration */
	{% IF showResponseHoverBorder = "1" Then %}
		border: {%= responseHoverBorderThickness%} {%= responseHoverBorderStyle%} rgb({%= responseHoverBorderColour%});
	{% Else %}
		border: {%= borderThickness%} {%= borderStyle%} rgb({%= borderColour%});
	{% EndIF %}
	{% IF showResponseHoverColour = "1" Then %}
		background-color: rgb({%= responseHoverColourPrimary%});
	{% EndIF %}
	-webkit-box-shadow: {%= responseHoverShadow%};
	-moz-box-shadow: {%= responseHoverShadow%};
	box-shadow: {%= responseHoverShadow%};
}
@media screen and (max-width: 800px) {
    #adc_{%= CurrentADC.InstanceId%} .statement:hover {

        /* Decoration */
        border: {%= borderThickness%} {%= borderStyle%} rgb({%= borderColour%});
        {% IF showResponseHoverColour = "1" Then %}
        background-color: rgb({%= responseColourPrimary%});
        {% EndIF %}
        -webkit-box-shadow: {%= responseShadow%};
        -moz-box-shadow: {%= responseShadow%};
        box-shadow: {%= responseShadow%};
    }
}
#adc_{%= CurrentADC.InstanceId%} .statement img
{  
	float:{%= responseImagePosition%};
}

#adc_{%= CurrentADC.InstanceId%} .statement_text 
{ 
	font-size:{%= fontSize%};
	display:{%= displayResponseText%};
	text-align:{%= responseTextAlign%};
	color:rgb({%= fontColour%});
	padding:{%= responseTextPadding%};
	line-height:{%= responseTextLineHeight%};
}

#adc_{%= CurrentADC.InstanceId%} .statement:hover .statement_text, #adc_{%= CurrentADC.InstanceId%} .statement:hover .rank_text 
{ 
	{% IF showResponseHoverFontColour = "1" Then %}
		color:rgb({%= responseHoverFontColour%});
	{% EndIF %}
}
@media screen and (max-width: 800px) {
    #adc_{%= CurrentADC.InstanceId%} .statement:hover .statement_text, #adc_{%= CurrentADC.InstanceId%} .statement:hover .rank_text  { 
        {% IF showResponseHoverFontColour = "1" Then %}
        color:rgb({%= fontColour %});
        {% EndIF %}
    }
}
#adc_{%= CurrentADC.InstanceId%} .statement.ranked 
{
    /* Decoration */
	{% IF CurrentADC.PropValue("responseSelectedBorderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= responseSelectedBorderThickness%} {%= responseSelectedBorderStyle%} rgb({%= responseSelectedBorderColour%});
	{% EndIF %}	
	background-color: rgb({%= responseSelectedColourPrimary%});
	
	-webkit-box-shadow: {%= responseSelectedShadow%};
	-moz-box-shadow: {%= responseSelectedShadow%};
	box-shadow: {%= responseSelectedShadow%};
}

#adc_{%= CurrentADC.InstanceId%} .rank_text 
{
    /* Element */
    display:inline-block;
    float:right;
    margin:0px 0px 0px 0px;
	padding:{%= responseTextPadding%};
	width:15px;
	
    /* Typo */
    color: rgb({%=responseSelectedFontColour%}) ;
    font-size:{%= fontSize%};
    font-weight:bold;
}

#adc_{%= CurrentADC.InstanceId%} .statement.ranked .statement_text, #adc_{%= CurrentADC.InstanceId%} .statement.ranked .rank_text 
{
	font-size:{%= fontSize%};
    color:rgb({%=responseSelectedFontColour%}); 
}

/* Non Scaled Reponses */
#adc_{%= CurrentADC.InstanceId%} .ns 
{   
	
	/* Decoration */
	{% IF CurrentADC.PropValue("nsResponseBorderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= nsResponseBorderThickness%} {%= nsResponseBorderStyle%} rgb({%= nsResponseBorderColour%});
	{% EndIF %}	
	background-color: rgb({%= nsResponseColourPrimary%});
	
	/* Effects */
	-webkit-border-radius:	{%= borderRadius%}; 
	-moz-border-radius:		{%= borderRadius%}; 
	-khtml-border-radius:	{%= borderRadius%}; 
	border-radius:			{%= borderRadius%};
	
	-webkit-box-shadow: {%= nsResponseShadow%};
	-moz-box-shadow: {%= nsResponseShadow%};
	box-shadow: {%= nsResponseShadow%};
}

#adc_{%= CurrentADC.InstanceId%} .ns .statement_text 
{ 
	display:block;
	font-size:{%= fontSize%};
	color:rgb({%= nsfontColour%});
}

#adc_{%= CurrentADC.InstanceId%} .ns.ranked 
{	
    /* Decoration */	
	{% IF CurrentADC.PropValue("nsResponseSelectedBorderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= nsResponseSelectedBorderThickness%} {%= nsResponseSelectedBorderStyle%} rgb({%= nsResponseSelectedBorderColour%});
	{% EndIF %}	
	background-color: rgb({%= nsResponseSelectedColourPrimary%});
	
	-webkit-box-shadow: {%= nsResponseSelectedShadow%};
	-moz-box-shadow: {%= nsResponseSelectedShadow%};
	box-shadow: {%= nsResponseSelectedShadow%};
}

#adc_{%= CurrentADC.InstanceId%} .ns.ranked .statement_text 
{
    color:rgb({%= nsResponseSelectedFontColour%});
}

#adc_{%= CurrentADC.InstanceId%} .upRank, #adc_{%= CurrentADC.InstanceId%} .downRank { background-position:{%= rankMoveArrowColour%}; }

#adc_{%= CurrentADC.InstanceId%} .otherText { 
	
	font-size:{%= fontSize%};
	color: rgb({%= otherFontColour%});
	
	/* Decoration */
	{% IF CurrentADC.PropValue("otherBorderThickness") = "none" Then %}
		border: none;
	{% Else %}
		border: {%= otherBorderThickness%} {%= otherBorderStyle%} rgb({%= otherBorderColour%});
	{% EndIF %}	
	background-color: rgb({%= otherColourPrimary%});
	
	/* Effects */
	-webkit-border-radius:	{%= otherBorderRadius%}; 
	-moz-border-radius:		{%= otherBorderRadius%}; 
	-khtml-border-radius:	{%= otherBorderRadius%}; 
	border-radius:			{%= otherBorderRadius%};
	
	-webkit-box-shadow: {%= otherShadow%};
	-moz-box-shadow: {%= otherShadow%};
	box-shadow: {%= otherShadow%};
	
}